<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmd.mapper.SingerMapper">
  <resultMap id="BaseResultMap" type="com.gmd.pojo.Singer">
    <id column="singer_id" jdbcType="INTEGER" property="singerId" />
    <result column="singer_name" jdbcType="VARCHAR" property="singerName" />
    <result column="singer_sex" jdbcType="VARCHAR" property="singerSex" />
    <result column="singer_desc" jdbcType="VARCHAR" property="singerDesc" />
    <result column="singer_type" jdbcType="VARCHAR" property="singerType" />
    <result column="singer_image" jdbcType="VARCHAR" property="singerImage" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from singer
    where singer_id = #{singerId,jdbcType=INTEGER};
  </delete>
  <insert id="insert" parameterType="com.gmd.pojo.Singer">
    insert into singer (singer_id, singer_name, singer_sex, 
      singer_desc, singer_type, singer_image
      )
    values (#{singerId,jdbcType=INTEGER}, #{singerName,jdbcType=VARCHAR}, #{singerSex,jdbcType=VARCHAR}, 
      #{singerDesc,jdbcType=VARCHAR}, #{singerType,jdbcType=VARCHAR}, #{singerImage,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gmd.pojo.Singer">
    update singer
    set singer_name = #{singerName,jdbcType=VARCHAR},
      singer_sex = #{singerSex,jdbcType=VARCHAR},
      singer_desc = #{singerDesc,jdbcType=VARCHAR},
      singer_type = #{singerType,jdbcType=VARCHAR},
      singer_image = #{singerImage,jdbcType=VARCHAR}
    where singer_id = #{singerId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select singer_id, singer_name, singer_sex, singer_desc, singer_type, singer_image
    from singer
    where singer_id = #{singerId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select singer_id, singer_name, singer_sex, singer_desc, singer_type, singer_image
    from singer
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select  singer_id, singer_name, singer_sex, singer_desc, singer_type, singer_image
    from singer where singer_name = #{singerName,jdbcType=VARCHAR} limit 1
  </select>
  <select id="findSingerByname" parameterType="java.lang.String" resultMap="BaseResultMap">
    select singer_id, singer_name, singer_sex, singer_desc, singer_type, singer_image
    from singer where singer_name like #{uname}
  </select>
</mapper>