<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmd.mapper.SongReviewsMapper">
  <resultMap id="BaseResultMap" type="com.gmd.pojo.SongReviews">
    <id column="reviews_id" jdbcType="INTEGER" property="reviewsId" />
    <result column="song_id" jdbcType="INTEGER" property="songId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="song_star" jdbcType="INTEGER" property="songStar" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from song_reviews
    where reviews_id = #{reviewsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gmd.pojo.SongReviews">
    insert into song_reviews (reviews_id, song_id, user_id, 
      content, create_time, status, 
      song_star)
    values (#{reviewsId,jdbcType=INTEGER}, #{songId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{songStar,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gmd.pojo.SongReviews">
    update song_reviews
    set song_id = #{songId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      song_star = #{songStar,jdbcType=INTEGER}
    where reviews_id = #{reviewsId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select reviews_id, song_id, user_id, content, create_time, status, song_star
    from song_reviews
    where reviews_id = #{reviewsId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select reviews_id, song_id, user_id, content, create_time, status, song_star
    from song_reviews
  </select>
</mapper>